*{
  box-sizing: border-box;
}
.section{
  max-width: 1920px;
}
.container{
  max-width: 1750px;
  margin: 0 auto;
}
img {
  max-width: 100%;
  height: auto;
}
@media only screen and (max-width:1366px) {
  .container{
    max-width: 1150px;
    margin: 0 auto;
  }
  /* p{
    font-size:15px !important;
  } */
}

